<div class="container">
  <div class= "row">
    <div class= "h5 bg-secondary mt-5">
       会員情報編集
    </div>
  </div>

  <div class= "row">
    <table class="col-lg-8 m-4">
      <%= form_with model: @customer, url: customer_path(@customer.id), method: :patch do |f| %>
      <tr>
        <th class="col-lg-2">氏名</th>
        <td class="col-lg-3"><%= f.text_field :last_name %></td>
        <td class="col-lg-3"><%= f.text_field :first_name %></td>
      </tr>

      <tr>
        <th class="col-lg-2">フリガナ</th>
        <td class="col-lg-3"><%= f.text_field :last_name_kana %></td>
        <td class="col-lg-3"><%= f.text_field :first_name_kana %></td>
      </tr>

      <tr>
        <th class="col-lg-2">郵便番号</th>
        <td class="col-lg-2"><%= f.text_field :postal_code %></td>
        <td class="col-lg-3"></td>
      </tr>

      <tr>
        <th class="col-lg-2">住所</th>
        <td colspan="2", class="col-lg-3"><%= f.text_field :address, :size=>"60"%></td>
      </tr>

      <tr>
        <th class="col-lg-2">電話番号</th>
        <td class="col-lg-3"><%= f.text_field :telephone_number %></td>
        <td class="col-lg-3"></td>
      </tr>

      <tr>
        <th class="col-lg-2">メールアドレス</th>
        <td class="col-lg-3"><%= f.text_field :email %></td>
        <td class="col-lg-3"></td>
      </tr>

    </table>
    </div>

    <div class="row mt-4">

    <div class="col-lg-3 offset-2">
      <div>
        <%= f.submit "編集内容をを保存", class:"btn btn-success" %>
        <% end %>
      </div>

    </div>

    <div class="col-lg-5">
      <div>
        <%= link_to "退会する", unsubscribe_path, class: "btn btn-danger" %>
      </div>
    </div>
    </div>
 </div>

</div>






