<div class="container">
 <div class= "row">
  <div class= "h5 bg-secondary mt-5">
       商品一覧</div>
       <span class="bg-secondary"></span>
       <a class="btn-outline-secondary btn-lg rounded-circle p-0" href="/admin/items/new" style="width:2rem;height:2rem;">＋</a>
 </div>
 </div>

 <div class="row">

     <table class="col-lg-8 offset-lg-2">
       <thead class="bg-secondary text-center">
        <tr class="row">
          <th class="col-lg-1">ID</th>
          <th class="col-lg-3">商品名</th>
          <th class="col-lg-2">税抜価格</th>
          <th class="col-lg-3">ジャンル</th>
          <th class="col-lg-2">ステータス</th>
        </tr>
        </thead>

      <tbody class="text-center">
      <% @items.each do |item| %>

        <tr class="row">
         <td class="col-lg-1 text-center"><%= item.id %></td>
         <td class="col-lg-3"><%= link_to admin_item_path(item.id) do %>
         <%= item.name %><% end %></td>
         <td class="col-lg-2"><%= converting_to_jpy(item.price) %></td>
         <td class="col-lg-3"><%= item.genre.name %></td>
         <td class="col-lg-2"><%= item.display_is_active %></td>
        </tr>

     <% end %>
     </tbody>

     </table>



 </div>
 <div class="row">
      <%= paginate @items %></div>
</div>





