<div class="container">
<div class="row">


        <div class= "h5 bg-secondary mt-5">
          管理者ログイン
        </div>
        </div>

        <div class= "row">

          <div class="col-lg-3">
          </div>

          <div class="col-lg-9">
            <%= form_with model: @admin, url: admin_session_path do |f| %>


            <table>
              <tr>
                <td>メールアドレス</td>
                <td></td>
                <td><%= f.email_field :email, :size=>"40", autofocus: true, autocomplete: "email", class:"form-control mx-auto" %></td>
              </tr>

              <tr>
                <td>パスワード
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %></td>
                <td></td>
                <td><%= f.password_field :password, autocomplete: "new-password", class:"form-control mx-auto" %></td>
              </tr>

              <tr>
              　<td></td>
              　<td></td>

                <td><%= f.submit "ログイン", class:"btn btn-primary"%></td>
              </tr>
            </table>
            <% end %>

          </div>


       </div>

  </div>


