<div class="container">
 <div class="row">
 <div class= "h5 bg-secondary mt-3">
    <%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集
 </div>
 </div>

 <div class="row">
    <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>

    <table class="col-lg-12 mt-5">
     <tr>
       <th class="col-lg-6">会員ID</th>
       <td><%= @customer.id %></td>
     </tr>

     <tr>
       <th class="col-lg-6">氏名</th>
       <td><%= f.text_field :last_name, :size=>"30" %></td>
       <td><%= f.text_field :first_name, :size=>"30" %></td>
     </tr>

     <tr>
       <th class="col-lg-6">フリガナ</th>
       <td><%= f.text_field :last_name_kana, :size=>"30" %></td>
       <td><%= f.text_field :first_name_kana, :size=>"30" %></td>
     </tr>

     <tr>
       <th class="col-lg-6">郵便番号</th>
       <td><%= f.text_field :postal_code, :size=>"30" %></td>
       <td></td>
     </tr>

     <tr>
       <th class="col-lg-6">住所</th>
       <td colspan="2"><%= f.text_field :address, :size=>"30" %></td>
     </tr>

    <tr>
       <th class="col-lg-6">電話番号</th>
       <td><%= f.text_field :telephone_number, :size=>"30" %></td>
       <td></td>
     </tr>

    <tr>
       <th class="col-lg-6">メールアドレス</th>
       <td><%= f.text_field :email, :size=>"30" %></td>
       <td></td>
     </tr>

     <tr>
       <th class="col-lg-6">会員ステータス</th>
       <td><%= f.radio_button :checked, :true %>
           <%= f.label :checked, "有効" %>
           <%= f.radio_button :checked, :false %>
           <%= f.label :checked, "退会" %></td>
     </tr>

     <tr>
       <th></th>
       <td><%= f.submit '変更を保存', class: 'btn btn-success mt-5' %></td>
       <td></td>
     </tr>
 </table>

     <% end %>

</div>






