<div class="container">
  <div class="row">
  <div class= "h5 bg-secondary mt-5">会員一覧</div>
 </div>

 <div class="row">
  <table class="col-lg-8 offset-lg-2">
    <thead class="bg-secondary text-center">
      <tr class="row">
          <th class="col-lg-2">ID</th>
          <th class="col-lg-5">氏名</th>
          <th class="col-lg-5">メールアドレス</th>
      </tr>
    </thead>

    <tbody class="text-center">
      <% @customers.each do |customer| %>
      <tr class="row">
          <td class="col-lg-2"><%= customer.id %></td>
          <td class="col-lg-5"><%= link_to admin_customer_path(customer.id) do %>
              <%= customer.last_name %><%= customer.first_name %>
              <% end %></td>
          <td class="col-lg-5"><%= customer.email %></td>
      </tr>
        <% end %>
    </tbody>

    </table>
    <div>
      <%= paginate @customers %></div>
</div>

  </div>
  <div class="col-lg-2"></div>
 </div>
</div>
</div>



