<h1>注文情報入力</h1>
<p>支払方法</p>

  <%= form_with model: @order, url: confirm_path, method: :post do |f| %>


  <%= f.radio_button :payment_method_id, 0 %>
  <%= f.label :checked, "クレジットカード" %><br />


  <%= f.radio_button :payment_method_id, 1 %>
  <%= f.label :checked, "銀行振込" %><br />

<p>お届け先</p>

  <%= f.radio_button :select_address, 0 %>
  <%= f.label :select_address, 'ご自身の住所', value: 0 %>

  <%= f.radio_button :select_address, 1 %>
  <%= f.label :select_address, '登録済み住所から選択', value: 1 %>

  <%= f.radio_button :select_address, 2 %>
  <%= f.label :select_address, '新しいお届け先', value: 2 %>

<td><%= link_to "確認画面へ進む", confirm_path, method: :post, class: "btn btn-sm btn btn-primary" %></td>

<% end %>
