<div>
  <%= image_tag @item.get_image %>
</div>

<div><%= @item.name %></div>

<div><%= @item.introduction %></div>

<div>¥<%= (@item.price * 1.1).floor %>(税込)</td>


<%= form_with model: @item do |f| %>