<div>
  <%= image_tag @item.get_image %>
</div>

<div><%= @item.name %></div>

<div><%= @item.introduction %></div>

<div>¥<%= (@item.price * 1.1).floor %>(税込)</td>

<%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>

<%= f.select :amount, *[1..10] %>

<%= f.hidden_field :item_id, :value => @item.id %>

<%= f.submit 'カートに入れる', class: 'btn btn-primary' %>

<% end %>