<div class= "container mt-5 pt-5">
  <div class= "row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <%= image_tag @item.get_image(350,350) %>
    </div>
    <div class="col-lg-6">
        <div class="h3 font-weight-bold"><%= @item.name %></div>
        <div class="h4 mt-3"><%= @item.introduction %></div>
        <div><span class="h3 mt-5">¥<%= @item.with_tax_price.to_s(:delimited) %></span><span>(税込)</span></div>

        <div class="mt-3">
        <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
        <%= f.select :amount, *[1..10] %>

        <%= f.hidden_field :item_id, :value => @item.id %>

        <%= f.submit 'カートに入れる', class: 'btn btn-primary' %>

        <% end %>
        </div>

  </div>
</div>

</div>










